Django==1.11.29
mysqlclient
Pillow
oss2
requests
six
tingyun
celery>=4.0
django-celery-results
django-celery-beat
celery[redis]
djangorestframework
aliyun-python-sdk-jaq
django-redis-cache
hiredis
python-dateutil
django_celery_results
django_celery_beat
aliyun-python-sdk-core
aliyun-python-sdk-jaq
django-form-utils
xlwt
supervisor
gevent
gunicorn
duckadmin
uwsgi

